<div id="infoCard" class=" card">
    <div class="card-body">
        <h5 class="text-uppercase text-secondary font-weight-bold">
            {{title}}
            <a id="closeInfoCard" class="close" >
                <span aria-hidden="true">&times;</span>
            </a>
        </h5>
        <hr>
        <div class="text-muted">
            {{{info.body}}}
            <p>A link to the code can be found <a href=" {{gitUrl}}">here</a></p>
        </div>
    </div>
</div>

