<div class="loader">
    <div class="loaderItems">
        <div class="loader_motion">
            <div class="loader_line_1"></div>
            <div class="loader_line_2"></div>
            <div class="loader_line_3"></div>
        </div>
        <img src="/img/loader/loading_1.png" class="loader_vehicle" alt="">
        <img src="/img/loader/loading_2.png" class="loader_wheels" alt="">
    </div>
</div>