<div class="menu shadow px-4 py-2">
    <h3 class="mb-0 mt-2 text-uppercase font-weight-bold">
        Examples
    </h3>
    <p class="text-muted text-uppercase mb-0">Using MapboxGL & D3</p>
    <hr class="my-2">
    <div class="list-group">
        <a href="/examples" class="text-decoration-none text-secondary my-2">Load data from the API</a>
        <a href="/examples/mapbox-layer" class="text-decoration-none text-secondary my-2">Load data from Mapbox</a>
        <a href="/examples/geojson-layer" class="text-decoration-none text-secondary my-2">Load data from a GeoJson</a>
        <a href="/examples/d3-load" class="text-decoration-none text-secondary my-2">Load data using d3</a>
        <a href="/examples/d3-overlay" class="text-decoration-none text-secondary my-2">d3 Overlay</a>
        <a href="/examples/search-by-location" class="text-decoration-none text-secondary my-2">Search by location</a>
        <a href="/examples/get-street-view" class="text-decoration-none text-secondary my-2">Get Google Street View</a>
        <a href="/examples/style-by-attribute" class="text-decoration-none text-secondary my-2">Style data by attribute</a>
        <a href="/examples/heatmap" class="text-decoration-none text-secondary my-2">Mapbox heatmap</a>
        <a href="/examples/choropleth" class="text-decoration-none text-secondary my-2">d3 Choropleth</a>
        <a href="/examples/chart-types" class="text-decoration-none text-secondary my-2">Chart Types</a>
        <a href="/next-steps" class="text-decoration-none text-secondary my-2">Next Steps</a>
    </div>

</div>


