.loader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaderItems {
    position: relative;
    width: 200px;
    height: 150px;
}

.loader_vehicle {
    position: absolute;
    right: 0;
    width: 150px;
    animation: shake 0.2s ease-in-out infinite alternate;
}

.loader_wheels {
    position: absolute;
    right: 0;
    width: 150px;
}

.loader_motion {
    position: absolute;
    top: 50px;
    left: 0;
    width: 45px;
    height: 50px;
}

.loader_line_1 {
    position: absolute;
    top: 0;
    right: 10px;
    width: 25px;
    height: 4px;
    background-color: #a0a0a0;
    animation: line_motion_1 0.8s ease-in-out infinite;
    animation-delay: 0.2s;
}

.loader_line_2 {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 25px;
    height: 4px;
    background-color: #a0a0a0;
    animation: line_motion_2 0.8s ease-in-out infinite;
    animation-delay: 0.1s;
}

.loader_line_3 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 4px;
    background-color: #a0a0a0;
    animation: line_motion_3 0.8s ease-in-out infinite;
    animation-delay: 0s;
}

@keyframes shake {
    0% {
        transform: translateY(-0.5%);
    }
    100% {
        transform: translateY(0.5%);
    }
}

@keyframes line_motion_1 {
    0% {
        right: 0px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        right: 45px;
        opacity: 0;
    }
}
@keyframes line_motion_2 {
    0% {
        right: 10px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        right: 55px;
        opacity: 0;
    }
}
@keyframes line_motion_3 {
    0% {
        right: 20px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        right: 65px;
        opacity: 0;
    }
}