body {
    margin: 0;
    padding: 0;
}

main {
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;
    bottom:0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

main.withFooter {
    bottom: 43px;
}

/* Map Container */
.mapContainer {
    position: absolute;
    top: 0;
    left: 250px;
    right: 0;
    bottom: 43px;
}

/* Map */
.map {
    height: 100%;
    flex-grow: 1;
    z-index: 0;
}

/* Menu */
.menu {
    position: absolute;
    top: 54px;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #fff;
    z-index: 1;
}

/* Responsive Design */
@media only screen and (max-width: 992px) {
    .menu {
       display: none;
    }

    .mapContainer {
        left: 0;
    }
}

.navbar, .footer {
    z-index: 3;
}

/* Info about page */
#infoCard {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 400px;
    max-width: 80vw;
    background-color: #fff;
    z-index: 2;
}

#infoCard p{
    font-size: 0.8rem;
}

#closeInfoCard {
    cursor: pointer;
}

/* Popups Style Overiders */
.mapboxgl-popup-content {
    padding: 0;
    background-color: transparent;
}

#customPopup {
    padding: 7px 10px;
    border-color: transparent !important;
}

#customPopup p {
    text-align: center;
    margin-bottom: 0;
}

#customPopup .card-body {
    padding: 7px 10px;
}

#customPopupDetails {
    width: 350px;
    border-color: transparent !important;
    margin-bottom: 0 !important;
}

#customPopupDetails .card-header {
    font-size: 1rem;
    line-height: 1.40625rem;
}

#customPopupDetails .card-header, #customPopupDetails .card-body {
    padding: 7px 10px;
    font-family: "Poppins", sans-serif;
}

#customPopupDetails .card-body {
    padding-bottom: 10px;
}

#customPopupDetails label {
    text-transform: uppercase;
    font-size: 0.5rem;
    margin-bottom: 2px;
}

#customPopupDetails p {
    font-size: 0.8rem;
    margin-bottom: 5px;
}