{{#section 'header'}}
    <style>

        body {

        }

        main {
            flex-direction: column;
        }

        .header {
            position: relative;
            display: flex;
            padding-top: 100px;
            padding-bottom: 100px;
            background: url(/img/stock/steps.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .mask {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .pageTitle {
            font-size: 4rem;
            font-weight: 700;
        }

        .flexMiddle {
            display: flex;
            align-items: center;
        }
    </style>
{{/section}}

<div class="header">
    <div class="mask"></div>
    <div class="container py-4">
        <div class="row py-4">
            <div class="col">
                <h1 class="pageTitle text-white text-uppercase">Next Steps</h1>
                <h4 class="text-white mb-4">
                    Where we could go next...
                </h4>
            </div>
        </div>
    </div>
</div>

<nav aria-label="breadcrumb" class="bg-secondary">
    <div class="container">
        <ol class="breadcrumb border-0 bg-transparent mb-0 py-3 pl-0">
            <li class="breadcrumb-item">Traffic Data</li>
            <li class="breadcrumb-item active" aria-current="page">Next Steps</li>
        </ol>
    </div>
</nav>

<div class="container my-4">
    <div class="row mb-2">
        <div class="col">
            <h2 class="font-weight-bold text-uppercase">The Data</h2>
            <hr>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <p>
                We know where to get the data and some of the tools we can use to display and interact with it but
                what's next? We could continue to use the
                <a href="https://roadtraffic-docs.dft.gov.uk/#api">Road Traffic Open Data API</a> but it would be far
                better to store and manage the data ourselves.
            </p>
            <p>Why?</p>
            <p>
                Storing the data ourselves allows us to manipulate and query the data in a more flexible way. Yes we
                can do some of this client side but it would be far more efficient to do this server side or using a
                database. Web pages would load faster and we can supplement the data with additional information such as
                the <a href="/examples/heatmap">heatmap</a> and <a href="/examples/choropleth">choropleth</a> examples.
            </p>
            <div class="row py-4">
                <div class="col-6 text-center">
                    <img src="/img/postgres.png" height="100" alt="">
                </div>
                <div class="col-6 text-center">
                    <img src="/img/postgis.png" height="100" alt="">
                </div>
            </div>
            <p>
                <a href="https://www.postgresql.org/">Postgres</a> with the <a href="https://postgis.net/">PostGIS</a>
                Extension would also allow us to create and query geospatial information. This could be used to aid in:
            </p>
            <ul>
                <li>Town and Country Planning</li>
                <li>Infrastructure Planning & Maintenance</li>
                <li>Identifying Trends in Traffic Flow</li>
                <li>Route Planning</li>
                <li>Accident Hotpots</li>
                <li>Air Quality & Pollution Statistics</li>
                <li>And many more...</li>
            </ul>
            <p>
                I've created a mockup of a dashboard using some of the techniques and libraries shown in the
                <a href="/examples">examples</a> pages <a href="/dashboard">here</a>. Its very basic and given more time
                it would be nice to have bee able to get a working frontend example.
            </p>
            <div class="w-50 m-auto">
                <a href="/dashboard">
                    <img src="/img/dashboard.png" class="img-fluid shadow-sm my-4" alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <h2 class="font-weight-bold text-uppercase">APIs</h2>
            <hr>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <p>
                For the purposes of development and testing we mainly used static files rather than an API but in the
                future it ideally we would incorporate an api or create our own.
            </p>
            <p>
                Datasets can be huge and to save on resources and download times it would be beneficial to create and
                API and query data based on a predefined set of parameters.
            </p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <h2 class="font-weight-bold text-uppercase">Single Page Apps</h2>
            <hr>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <p>
                Due to the limited time the project was created with <a href="https://expressjs.com/">Express.js</a> and
                <a href="https://getbootstrap.com/">Bootstrap 4</a> and as such is hardly the prettiest of web
                applications. The next step after creating a Database and API would be to redesign the application.
            </p>

            <p>
                The next logical step would be top create a Single Page App using
                <a href="https://reactjs.org/">React.js</a>, <a href="https://vuejs.org/">Vue.js</a> or
                <a href="https://angular.io/">Angular</a>. An SPA would allow us to access and query complex data
                without the need to refresh the page.
            </p>
            <p>
                Uber have already create a <a href="http://visgl.github.io/react-map-gl/">React version of MapboxGL</a>
                and is part of their Visualization Framework Suite. <a href="https://deck.gl/#/">DECK.GL</a> is really
                interesting and you should definitely take a look.
            </p>
            <div class="w-50 m-auto">
                <a href="https://deck.gl/#/">
                    <img src="/img/deck.png" class="img-fluid shadow-sm my-4" alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <h2 class="font-weight-bold text-uppercase">Til Next Time</h2>
            <hr>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <p>
                I'm looking forward to revisiting this and developing this further you can check out the code on github
                <a href="{{gitUrl}}">here</a>
            </p>
        </div>
    </div>
</div>

<nav class="navbar navbar-light bg-light">
    <p class="gitLink text-center mb-1 w-100">
        <small>View code on <a class="text-decoration-none" href="{{gitUrl}}">Github</a></small>
    </p>
</nav>

{{#section 'script'}}

    <script>


    </script>
{{/section}}
