{{#section 'header'}}
    <style>

        body {

        }

        main {
            flex-direction: column;
        }

        .header {
            position: relative;
            display: flex;
            padding-top: 100px;
            padding-bottom: 100px;
            background: url(/img/stock/steps.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .mask {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .pageTitle {
            font-size: 4rem;
            font-weight: 700;
        }

        .flexMiddle {
            display: flex;
            align-items: center;
        }
    </style>
{{/section}}

<div class="header">
    <div class="mask"></div>
    <div class="container py-4">
        <div class="row py-4">
            <div class="col">
                <h1 class="pageTitle text-white text-uppercase">Next Steps</h1>
                <h4 class="text-white mb-4">
                    Where we could go next...
                </h4>
            </div>
        </div>
    </div>
</div>

<nav aria-label="breadcrumb" class="bg-secondary">
    <div class="container">
        <ol class="breadcrumb border-0 bg-transparent mb-0 py-3 pl-0">
            <li class="breadcrumb-item">Traffic Data</li>
            <li class="breadcrumb-item active" aria-current="page">Next Steps</li>
        </ol>
    </div>
</nav>

<div class="container my-4">
    <div class="row mb-2">
        <div class="col">
            <h2 class="font-weight-bold text-uppercase">The Dashboard</h2>
            <hr>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <p>
                Given more time it would be nice to have been able to flesh out the dashboard a bit more. At this point
                it is little more than a wireframe. The UK Government <a href="https://data.gov.uk/">Open Data</a>
                provides more than just traffic counts. In the case of traffic data, we could incorporate the number of
                accidents. These data sets could be used to creat heatmaps and choropleth to provide additional
                information
            </p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <h2 class="font-weight-bold text-uppercase">APIs</h2>
            <hr>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <p>
                For the purposes of development and testing we used static files rather than the
                <a href="https://roadtraffic-docs.dft.gov.uk/#api">Road Traffic Open Data API</a>. In the future it
                would be good to incorporate the api or create our own.
            </p>
            <p>
                <a href="https://www.postgresql.org/">Postgres</a> and <a href="https://postgis.net/">PostGIS</a> are
                incredibly powerful tools and can be used to run a numerous Geospatial queries, which would tie in very
                nicely with data.
            </p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <h2 class="font-weight-bold text-uppercase">Single Page Apps</h2>
            <hr>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <p>
                Due to the limited time the project was created with <a href="https://expressjs.com/">Express.js</a> and
                <a href="https://getbootstrap.com/">Bootstrap 4</a> and as such is hardly the prettiest of web
                applications. The next step after creating a Database and API would be to redesign the application.
            </p>
            <p>
               The next logical step would be top create a Single Page App using
                <a href="https://reactjs.org/">React.js</a>, <a href="https://vuejs.org/">Vue.js</a> or
                <a href="https://angular.io/">Angular</a>.
            </p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <h2 class="font-weight-bold text-uppercase">Til Next Time</h2>
            <hr>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <p>
                I'm looking forward to revisiting this and developing this further you can check out the code on github
                <a href="{{gitUrl}}">here</a>
            </p>
        </div>
    </div>
</div>


<nav class="navbar navbar-light bg-light">
    <p class="gitLink text-center mb-1 w-100">
        <small>View code on <a class="text-decoration-none" href="{{gitUrl}}">Github</a></small>
    </p>
</nav>

{{#section 'script'}}

    <script>


    </script>
{{/section}}
